<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quidish.anshgupta.login">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Network.MyApplication"
        android:allowBackup="true"
        android:configChanges="screenLayout|uiMode|orientation|screenSize|smallestScreenSize"
        android:icon="@drawable/quidif"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/quid2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustResize">
        <activity
            android:name=".IntroScreen.WelcomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Activity3" />

        <activity android:name=".LoginRegister.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginRegister.ForgetPass"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginRegister.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".PostYourAd.SubCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PostYourAd.AdpostActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".PostYourAd.CategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAccount.MyaccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAccount.ProfileDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginRegister.LoginSignupactivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAdsAndUserProfile.MyAdsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAccount.MyWishlistActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAdsAndUserProfile.MyAdDiscriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SoldAdDiscriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home.CompleteSearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ZoomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SpashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".Network.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Messaging.MessageActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Messaging.MyChatActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MyAdsAndUserProfile.EditAdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAdsAndUserProfile.UserProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdDiscriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home.ContactUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".CloudMessaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".CloudMessaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Network.No_InternetActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>